.cursor {
    cursor: pointer !important;
}

.button_header {
    background: #d83033;
    background: linear-gradient(to top,#d83033 0%,#d0292c 49%,#e84547 49%,#ec4143 100%);
    background: linear-gradient(to top,#e24245 0%,#cc4548 49%,#e66567 49%,#f36a6b 100%);
    background: linear-gradient(to top,#cc4649 0%,#d64f52 49%,#e66567 49%,#f36a6b 100%);
    border-radius: 3px;
    box-shadow: 4px 4px 13px 0 rgb(50 50 50 / 67%);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.button_header:hover, .header_div_auth:hover {
    opacity: 0.9;
    color: white;
    margin-top: 2px;
    border: none !important;
}

.cyrsor_admin:hover {
    color: red ;
}

.fs-14 {
    font-size: 14px;
}

body {
    background-color: #dfd6d6;
}